@use "./variables" as *;

body {
  scroll-behavior: smooth !important;
}

.t4-container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
