@use "./variables" as *;

.modal {
  color: $dark-gray;

  .modal-header {
    background-color: $dark-white;
    border-bottom: 1px solid $dark-gray;

    .btn-close {
      &:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .modal-body {
    background-color: $dark-white;
  }

  .modal-body:not(.modal-contact-body) {
    border-bottom: 1px solid $dark-gray;
    padding: 20px 80px;

    input,
    textarea {
      background-color: $dark-white;
    }

    .input-box {
      border-bottom: 1px solid $dark-gray;

      .form-control {
        border: none;
        outline: none;
        box-shadow: none;

        &:focus+label {
          color: $light_blue;
          border: none;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }

  .modal-footer {
    background-color: $dark-white;
    .redirect {
      color: $dark_gray;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        color: $light_blue
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  transform: scale(0.7)
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $light_blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $light_blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
